.collapse.navbar-collapse {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
}
.nav-link.active {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 25px;
}
.nav-link {
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 25px;
}
.navbar-nav.mx-auto.mb-2.mb-lg-0 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.d-flex {
  padding-top: 132px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
}
.active {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#hero .background-wave {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 340px;
  left: 0px;
  z-index: -1;
}
#hero .hero-image {
  max-width: 600px;
}
#hero .hero-image img {
  width: 100%;
}
.d-flex.flex-column.align-items-center.justify-content-center {
  display: flex;
}
.row {
  margin-top: 0px;
  margin-right: 35px;
  margin-bottom: 0px;
  margin-left: 35px;
  justify-content: flex-end;
}
.flex-column {
  padding-top: 128px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.d-flex.flex-column.align-items-center.justify-content-center.pt-4 {
  margin: 0 0 -51px 0;
  background: rgb(201, 242, 255) none repeat scroll 0% 0% / auto padding-box
    border-box#EAF3FE;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: -51px;
  margin-left: 0px;
}
.hero-title.display-2.text-uppercase.mt-5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
  line-height: 88.4px;
  letter-spacing: normal;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.hero-title.display-2.mt-5 {
  font-weight: 700;
}
.normalText {
  width: 66%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
#footer .list-group-item {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
}
.container.py-4 {
  padding: 10px 12px 10px 12px;
}
.col-12 {
  align-items: flex-start;
  align-self: auto;
  justify-content: space-around;
  display: flex;
}
.list-group-item {
  border: 0 solid rgba(255, 255, 255, 0);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.list-group-item.text-uppercase {
  justify-content: flex-start;
  border: 1px solid #212529;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(33, 37, 41);
}
.col-md-4 {
  justify-content: flex-start;
}
.col-md-8 {
  display: flex;
  justify-content: flex-end;
}
.foot-link {
  text-decoration: none;
  color: rgb(105, 152, 219);
  padding: 0 30px 0 30px;
  border-radius: 0 0 0 0;
  border-width: 1px;
  border-style: none solid none solid;
  border-right-color: rgb(195, 195, 195);
  border-left-color: rgb(195, 195, 195);
}
#hero {
  position: relative;
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#i3l8y {
  bottom: 0px;
  position: static;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: -61px;
  margin-left: 0px;
}
#idmf6 {
  position: relative;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(201, 242, 255);
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 115px;
  padding-left: 0px;
}
#itoll {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 34px;
}
#i983k {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 34px;
}
#ic7vc {
  position: relative;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(201, 242, 255);
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 104px;
  padding-left: 0px;
}
#footer {
  margin-top: 51px 0px 30px 0px;
  padding-top: 50px 0px 50px 0px;
  font-size: 13px;
  padding: 10px 0 10px 0;
  margin: 51px 0 -30px 0;
}
#i59yn {
  color: rgb(38, 146, 255);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(38, 146, 255);
  border-right-color: rgb(38, 146, 255);
  border-bottom-color: rgb(38, 146, 255);
  border-left-color: rgb(38, 146, 255);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
#footlink-box {
  align-self: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.list-group-item.email {
  padding: 8px 16px 5px 28px;
}
.list-group-item.phone {
  padding: 0 16px 8px 28px;
}
